<main class="Shopdetails">
    <div class="shophead">
        <div class="mycontainer">
            <div class="shopname">
                <div>
                    <div class="red bigfont blods">哈米童装服装店</div>
                    <div>
                        <div>
                            <a class="lightgrey" href="http://maomltz598.3e3e.cn/">http://maomltz598.3e3e.cn/</a>
                        </div>
                        <div class="lightgrey">
                            <span class="cursor">保存快捷方式</span>
                            <span>|</span>
                            <span class="cursor">关注</span>
                        </div>
                    </div>
                    <div class="khakis smallbtn lightgreybor">金牌标签</div>

                </div>
                <div>
                    <div class="darkgrey">
                        <div>
                            <div class="contact">
                                <div>拿货咨询：</div>
                                <div>25****67</div>
                                <div>
                                    <span class="icon-md-qq"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="shoptels">
                                <div class="icons icon-tel"></div>
                                <div class="blods black">15657584647</div>
                                <div class="lightgreybor lightgrey">完成号码</div>
                            </div>
                        </div>
                        <div>
                            <div>拿货地址：浙江省湖州市织里镇栋梁北路288号汇联跨境电商</div>
                        </div>
                    </div>
                    <div class="ercode">
                        <img src="../../lib/images/ismargin.png" alt="">
                    </div>
                </div>
            </div>
            <div class="tabs">
                <div class="mytab firstfont">
                    <span>店铺首页</span>
                    <span class="active">供应商品</span>
                    <span>已下架产品</span>
                </div>
                <div class="darkgrey">
                    <span>厂家动态</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="commodity">
            <div class="left">
                <div class="picdetail">
                    <div>
                        <img src="../../lib/images/shopdetail/list.jpg" alt="">
                    </div>
                    <div>
                        <div>
                            <img src="../../lib/images/shopdetail/list.jpg" alt="">
                        </div>
                        <div>
                            <img src="../../lib/images/shopdetail/list.jpg" alt="">
                        </div>
                        <div>
                            <img src="../../lib/images/shopdetail/list.jpg" alt="">
                        </div>
                        <div>
                            <img src="../../lib/images/shopdetail/list.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="accounts">
                    <div class="edit">
                        <div class="share-box">
                            <a href="javascript:;" pid="oicocmq" class="product-uncollected">收藏<span class="lightgrey">(21)</span></a>
                            <a href="javascript:;" class="product-share" pid="oicocmq"><span class="lightgrey">分享</span><i
                                    class="small"></i></a>
                        </div>
                    </div>
                    <div class="threefont blods shoptitle">童装&羊羔毛</div>
                    <div class="red tsmess">发布及下载请不要随意修改货号便于供应链为你提高找货速度</div>
                    <div class="updates blods">
                        <div class="oranges lightorangrebor">
                            <div>
                                <span class="firstfont">今日</span>
                                <span>更新</span>
                            </div>
                        </div>
                        <div class="orangrebor">
                            <div>
                                <span class="darkgrey firstfont">分销数</span><span class="orange">21</span>
                            </div>
                        </div>
                    </div>
                    <div class="lightgreybor shopprice">
                        <div class="lightpinks">
                            <div>
                                <span class="darkgrey">供货价</span>
                                <span class="red threefont">
                                    <b class="supnumfont supplyprice">￥40.</b>00
                                </span>
                            </div>
                            <div>
                                <span class="darkgrey">整拿价</span>
                                <span class="lightgrey wholeprice">暂未设置，请联系厂商</span>
                            </div>
                        </div>
                        <div class="firstfont darkgrey blods shopdesc">
                            <div class="descdetail">
                                <span>2019冬季新款羊羔毛外套</span>
                                <span>偏小一码</span>
                            </div>
                            <span><i></i></span>
                        </div>
                    </div>
                    <div class="editlist lightgrey">
                        <div class="normalfont rules">
                            <div>
                                <span class="duigou orange"></span>
                                <span>三日新款</span>
                            </div>
                            <div>
                                <span class="duigou orange"></span>
                                <span>一件起批</span>
                            </div>
                            <div>
                                <span class="duigou orange"></span>
                                <span>支持代发拿货</span>
                            </div>
                        </div>
                        <div class="productheight">
                            <div>身高</div>
                            <div class="size">
                                <div class="lightgreybor activesize">80</div>
                                <div class="lightgreybor">90</div>
                                <div class="lightgreybor">100</div>
                                <div class="lightgreybor">110</div>
                                <div class="lightgreybor">120</div>
                            </div>
                            <div>
                                <span>(标准尺码，共<b class="orange">5</b>个码)</span>
                            </div>
                        </div>
                        <div class="productcolor">
                            <div>
                                颜色
                            </div>
                            <div>
                                <div>
                                    <div>
                                        黑色
                                    </div>
                                    <div>
                                        40.00
                                    </div>
                                    <div>
                                        <div>0件可售</div>
                                        <div class="lightgreybor editnum">
                                            <div class="subtract">-</div>
                                            <input data_step="1" data_min="0" data_max="50" data_digit="0" value="10"/>
                                            <div class="add">+</div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        灰黑色
                                    </div>
                                    <div>
                                        40.00
                                    </div>
                                    <div>
                                        <div>0件可售</div>
                                        <div class="lightgreybor editnum">
                                            <div class="subtract">-</div>
                                            <input data_step="1" data_min="0" data_max="50" data_digit="0" value="10"/>
                                            <div class="add">+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="operation">
                        <div>
                            <div class="lightorangrebor rosereds firstfont blods onlineorder">在线下单</div>
                            <div class="addtoCart orangrebor lightoranges operationbtn orange">
                                <div>
                                    <span class="iconfont icon-jiarujinhuodan"></span><span>加入购物车</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="blods release">
                                <div class="reds firstfont releasetb">发布到淘宝</div>
                                <div class="orangrebor lightoranges orange  morerelease"><span>更多发布</span><span
                                        class="iconfont icon-zhankai"></span></div>
                            </div>
                            <div class="orangrebor lightoranges orange firstfont blods operationbtn uploadpics">下载图片包
                            </div>
                            <div class="orangrebor lightoranges orange firstfont operationbtn bulkoperation">加入批量操作
                            </div>
                        </div>
                        <div>
                            <div class="Sorrels firstfont Association">关联商品</div>
                            <div class="lightgrey Associationdesc">关联后产品的上下架将会在后台单独通知</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right">
                <div class="firstfont blods Feature">
                    橱窗推荐
                </div>
                <div class="Featureddproducts">
                    <div class="lightgreybor items">
                        <div>
                            <img src="../../lib/images/shopdetail/recommend.jpg" alt="">
                        </div>
                        <div class="darkgrey">
                            <div>
                                <span>￥</span><span class="red  blods productprice">20</span>
                            </div>
                            <div>夏季新款热卖</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="mycontainer">
        <div class="companyData">
            <div class="lightgreybor left">
                <div class="Sorrels threefont companyname">
                    童淘淘认证商家
                </div>
                <div class="rzmess firstfont companymess">
                    <div class="red blods secondfont myshopname">店名</div>
                    <div class="companyrz">
                        <div>
                            <div class="lightgrey">经营模式：</div>
                            <div>经销代理</div>
                        </div>
                        <div>
                            <div class="lightgrey">供应等级：</div>
                            <div>Lv12</div>
                        </div>
                        <div>
                            <div class="lightgrey">实名认证：</div>
                            <div>
                                <span>罗*英</span>
                                <span><img src="../../lib/images/main/product/id_card.png" alt=""></span>
                            </div>
                        </div>
                        <div>
                            <div class="lightgrey">营业执照认证：</div>
                            <div>
                                <span><img src="../../lib/images/shopdetail/license.jpg" alt=""></span>
                            </div>
                        </div>
                    </div>
                    <div class="lightgreybor focuson">关注商家</div>
                </div>

                <div class="rzmess">
                    <div class="blods secondfont">联系方式</div>
                    <div class="companyrz">
                        <div>
                            <div class="lightgrey">电话：</div>
                            <div></div>
                        </div>
                        <div>
                            <div class="lightgrey">货址：</div>
                            <div></div>
                        </div>
                        <div>
                            <div class="lightgrey">厂址：</div>
                            <div></div>
                        </div>
                        <div>
                            <div class="lightgrey">QQ：</div>
                            <div></div>
                        </div>
                        <div>
                            <div class="lightgrey">微信：</div>
                            <div></div>
                        </div>
                    </div>
                    <div class="scan">
                        <div>
                            <img src="../../lib/images/shopdetail/code.jpg" alt="">
                        </div>
                        <div class="lightgrey">扫码进入童淘淘店铺</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="prodetails lightgreybor">
                    <div class="lightgreys darkgrey active"><a href=""><span>商品详情</span></a></div>
                    <div class="lightgreys darkgrey"><a href=""><span>拿货咨询</span></a></div>
                    <div class="lightgreys darkgrey"><a href=""><span>发布人气</span><span class="orange">6</span></a></div>
                    <div class="lightgreys darkgrey"><a href=""><span>下载人气</span><span class="orange">9</span></a></div>
                    <div class="lightgreys darkgrey"><a href=""><span>数据</span></a></div>
                    <div class="lightgreys darkgrey"><a href=""><span>投诉</span></a></div>
                    <div class="lightgreys darkgrey"><a href=""><span>服务承诺</span></a></div>
                    <div class="lightgreys darkgrey "><a href="" class="shopsvcode"><span class="shopcode"><img
                            src="../../lib/images/main/product/phone_ico.png" alt=""></span><span>商家手机店铺</span></a>
                    </div>
                </div>
                <div class="prodesc">
                    <div class="proitem">
                        <div class="lightgrey attributeList">
                            <div>
                                <div><span>风格：</span><span><a href="">百搭</a></span></div>
                                <div><span>产地：</span><span>中国大陆</span></div>
                                <div><span>颜色分类：</span><span><a href="">米黄色</a> <a href="">灰色</a></span></div>
                            </div>
                            <div>
                                <div><span>适用季节：</span><span><a href="">冬季</a></span></div>
                                <div><span>安全等级：</span><span><a href="">B类</a></span></div>

                            </div>
                            <div>
                                <div><span>图案：</span><span><a href="">百搭</a></span></div>
                                <div><span>是否带帽子：</span><span><a href="">中国大陆</a></span></div>
                                <div><span>参考身高：</span><span><a href="">100</a><a href="">110</a><a
                                        href="">120</a><a
                                        href="">90</a><a href="">80</a></span></div>
                            </div>
                            <div>
                                <div><span>适用性别：</span><span><a href="">中性</a></span></div>
                                <div><span>衣门襟：</span><span><a href="">拉链衫</a></span></div>

                            </div>
                        </div>
                        <div class="keywordbox">
                            <div class="tittle">标题关键词推荐</div>
                            <div class="keyword">
                                <i class="arrow" style="border-right-color: #949494"></i>2019新款羊羔毛外套 加棉加厚小棉衣
                            </div>
                        </div>
                        <div>
                            <div class="darkgrey messdetails">
                                <div>
                                    <span>【厂家名称】：</span><span></span>
                                </div>
                                <div>
                                    <span>【货号】：</span><span></span>
                                </div>
                                <div>
                                    <span>【批发价】：</span><span></span>
                                </div>
                                <div>
                                    <span>【材质】：</span><span></span>
                                </div>
                                <div>
                                    <span>【颜色种类】：</span><span></span>
                                </div>
                                <div>
                                    <span>【联系电话】：</span><span></span>
                                </div>
                                <div>
                                    <span>【退换货规则】：</span><span></span>
                                </div>
                            </div>
                            <div class="productdescs">
                                <img src="../../lib/images/shopdetail/20191007776264001_750.jpg" alt="">
                                <img src="../../lib/images/shopdetail/20191007776264002_750.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="proitem">
                        <div class="refers">
                            <div class="refermethod"><h2>上门拿货方式</h2></div>
                            <div class="lightgrey referul">
                                <div>
                                    <span>拿货地址： </span>
                                    <span> 大河村 大河新村一区50-5后门</span>
                                </div>
                                <div>
                                    <span>联系电话：</span>
                                    <span>13967261240 </span>
                                </div>
                                <div>
                                    <span>厂家联系人QQ：</span>
                                    <span>1226052354 <i class="icon-md-qq"></i></span>
                                </div>
                                <div>
                                    <span>联系我时,请告知是在3E3E.CN上看到的信息</span>
                                </div>
                            </div>
                            <div class="refermethod"><h2>代发拿货方式:400-806-8866</h2></div>
                            <div class="referts"><a href="javascript:;">生意网官方代发</a></div>
                            <div class="refersbtn"><a href="">立即找代发货</a></div>
                        </div>
                    </div>
                    <div class="proitem">
                        <div class="lightgrey publishitem">
                            <div>
                                <ul>
                                    <li class="pubtaobao">
                                        <span class="name"> 木***子</span>
                                        <span class="level">
                                            <img src="../../lib/images/slevel/s_5.png" alt="">
                                        </span>
                                        <span class="time">2019-10-31 11:38:46</span>
                                    </li>
                                    <li class="pubtaobao">
                                        <span class="name"> 木***子</span>
                                        <span class="level">
                                            <img src="../../lib/images/slevel/s_6.png" alt="">
                                        </span>
                                        <span class="time">2019-10-31 11:38:46</span>
                                    </li>
                                    <li class="pubtaobao">
                                        <span class="name"> 木***子</span>
                                        <span class="level">
                                            <img src="../../lib/images/slevel/s_7.png" alt="">
                                        </span>
                                        <span class="time">2019-10-31 11:38:46</span>
                                    </li>
                                    <li class="pubtaobao">
                                        <span class="name"> 木***子</span>
                                        <span class="level">
                                            <img src="../../lib/images/slevel/s_8.png" alt="">
                                        </span>
                                        <span class="time">2019-10-31 11:38:46</span>
                                    </li>
                                    <li class="pubtaobao">
                                        <span class="name"> 木***子</span>
                                        <span class="level">
                                            <img src="../../lib/images/slevel/s_9.png" alt="">
                                        </span>
                                        <span class="time">2019-10-31 11:38:46</span>
                                    </li>
                                    <li class="pubtaobao">
                                        <span class="name"> 木***子</span>
                                        <span class="level">
                                            <img src="../../lib/images/slevel/s_10.png" alt="">
                                        </span>
                                        <span class="time">2019-10-31 11:38:46</span>
                                    </li>
                                    <li class="pubtaobao">
                                        <span class="name"> 木***子</span>
                                        <span class="level">
                                            <img src="../../lib/images/slevel/s_12.png" alt="">
                                        </span>
                                        <span class="time">2019-10-31 11:38:46</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="publishright">
                                <div>人气商品</div>
                                <div><a href="">
                                    <img src="../../lib/images/shopdetail/20191007776264001_750.jpg" alt="">
                                </a></div>
                                <div class="operate">
                                    <a href="javascript:;" class="product-collected" pid="oiimams"><i
                                            class="icon-supplier-collected"></i>关注</a>
                                    <a href="javascript:;" class="product-share" pid="oiimams">分享</a>

                                    <span>供货价 <i class="text-orange">60.00</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="proitem">
                        <div class="downbox">
                            <ul  class="lightgrey">
                                <li>
                                    <span class="name">飞***人</span>
                                    <span class="level"></span>
                                    <span class="source">
                                        图片包
                                    </span>
                                    <span class="time">2019-11-01 16:22:15</span>
                                </li>
                                <li>
                                    <span class="name">飞***人</span>
                                    <span class="level"></span>
                                    <span class="source">
                                        图片包
                                    </span>
                                    <span class="time">2019-11-01 16:22:15</span>
                                </li>
                            </ul>
                            <div class="publishright">
                                <div>人气商品</div>
                                <div><a href="">
                                    <img src="../../lib/images/shopdetail/20191007776264001_750.jpg" alt="">
                                </a></div>
                                <div class="operate">
                                    <a href="javascript:;" class="product-collected" pid="oiimams"><i
                                            class="icon-supplier-collected"></i>关注</a>
                                    <a href="javascript:;" class="product-share" pid="oiimams">分享</a>

                                    <span>供货价 <i class="text-orange">60.00</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="proitem"></div>
                    <div class="proitem">
                        <div class="lightgrey complaint">
                            <div class="tips">
                                产品投诉成立会直接影响该产品的排名权重及评估分值，请谨慎处理！系统会对投诉人信息保密，请勿担忧。
                            </div>
                            <div class="form-box">
                                <div class="type">
                                    <label>投诉类型：</label>
                                    <select name="complain_category_id" id="complain_category_id">
                                        <option value="">请选择投诉类别</option>
                                        <option value="1">-标价与门市价格不符</option>
                                        <option value="2">-产品已停止供货</option>
                                        <option value="3">-经常缺货，供货极不稳定</option>
                                        <option value="4">-产品质量很糟糕</option>
                                        <option value="5">-不提供售后服务</option>
                                        <option value="6">-文字描述与实物不符</option>
                                        <option value="7">-非实拍图片与实物不符</option>

                                    </select>
                                    <input type="button" value="附件" onclick="$('#complain_imgs').click();" class="file-btn">
                                    <span id="complain_imgs_msg" style="display:inline;float:none;">上传图片</span>
                                    <form id="complain_img_upload" style="display:none">
                                        <input type="file" id="complain_imgs" accept=".jpg"  multiple="multiple">
                                        <input type="hidden" id="complain_imgs_path" value="">
                                    </form>
                                </div>
                                <div class="reason">
                                    <label>投诉理由：</label>
                                    <textarea id="review"></textarea>
                                </div>
                                <input type="button" class="submit" value="提交投诉" id="reviewbtn">
                                <p class="bot-tips">为保证投诉处理的公正性，请尽量对情况进行详细客观的描述。</p>
                            </div>
                        </div>
                    </div>
                    <div class="proitem activeitem">
                        <div class="buyexplain lightgrey">无说明</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



