<main class="storehome2">
    <div class="mydetailtop storehome2top">
        <div class="mycontainer">
            <div class="consultingtop">
                <div class="shoplogo">
                    <img src="../../lib/images/logo.png" alt="">
                </div>
                <div class="serachs">
                    <div class="selecttype">
                        <span class="active">商品</span>
                        <span>厂家</span>
                    </div>
                    <div class="Consultingsearchbox">
                        <div>
                            <input type="text" placeholder="根据产品标题、厂家名称进行搜索">
                        </div>
                        <div>
                            <span class="iconfont icon-sousuo"></span>
                            <span class="iconfont icon-paizhao"></span>
                        </div>
                    </div>
                    <div class="tjlist">
                        <span>童裙</span>
                        <span>秋冬童裙</span>
                        <span>哈伦裤</span>
                        <span>童T恤</span>
                        <span>羽绒裤</span>
                        <span>棉服</span>
                        <span>中长款</span>
                    </div>
                </div>
                <div class="sdcode">
                    <div>
                        <img src="../../lib/images/erweima.png" alt="">
                    </div>
                    <div>
                        <img src="../../lib/images/erweima.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tablist">
            <div class="mycontainer">
                <div class="tabs">
                    <div class="mytab firstfont">
                        <span class="active">资讯栏目</span>
                        <span>所有产品</span>
                        <span>已下架产品</span>
                    </div>
                    <div>
                        厂家动态
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mycontainer" style="background: none">
        <div class="storehome2gg">
            <div>
                <div class="red firstfont"><span>————</span> <span class="blods">广告</span> <span>————</span></div>
                <div class="darkgrey">这是店铺今年最新的广告，大家随意买衣服xxxxxxxxxxxxxxxxx/div>
                </div>
            </div>
            <div class="store2tj">
                <div>
                    <div class="secondfont store2tittle">橱窗推荐</div>
                    <div class="stroe2cctj">
                        <div class="lightgreybor stroe2tjbox">
                            <a href="" target="_blank">
                                <div>
                                    <img src="../../lib/images/11.png" alt="" class="storepic">
                                </div>
                                <div class="blods">
                                    <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                    <div><span>分销数</span><span class="orange">2344</span></div>
                                </div>
                                <div class="blods">
                                    穿个大熊熊的外套
                                </div>
                            </a>

                        </div>
                        <div class="lightgreybor stroe2tjbox">
                            <a href="" target="_blank">
                                <div>
                                    <img src="../../lib/images/11.png" alt="" class="storepic">
                                </div>
                                <div class="blods">
                                    <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                    <div><span>分销数</span><span class="orange">2344</span></div>
                                </div>
                                <div class="blods">
                                    穿个大熊熊的外套
                                </div>
                            </a>
                        </div>
                        <div class="lightgreybor stroe2tjbox">
                            <a href="" target="_blank">
                                <div>
                                    <img src="../../lib/images/11.png" alt="" class="storepic">
                                </div>
                                <div class="blods">
                                    <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                    <div><span>分销数</span><span class="orange">2344</span></div>
                                </div>
                                <div class="blods">
                                    穿个大熊熊的外套
                                </div>
                            </a>
                        </div>
                        <div class="lightgreybor stroe2tjbox">
                            <a href="" target="_blank">
                                <div>
                                    <img src="../../lib/images/11.png" alt="" class="storepic">
                                </div>
                                <div class="blods">
                                    <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                    <div><span>分销数</span><span class="orange">2344</span></div>
                                </div>
                                <div class="blods">
                                    穿个大熊熊的外套
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="secondfont store2tittle">走货</div>
                    <div class="lightgreybor store2zh">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/18.png" alt="">
                            </div>
                            <div>
                                <span>sxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span><span>还有300人也收藏了</span>
                            </div>
                        </a>
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/18.png" alt="">
                            </div>
                            <div>
                                <span>sxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span><span>还有300人也收藏了</span>
                            </div>
                        </a>
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/18.png" alt="">
                            </div>
                            <div>
                                <span>sxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span><span>还有300人也收藏了</span>
                            </div>
                        </a>
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/18.png" alt="">
                            </div>
                            <div>
                                <span>sxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span><span>还有300人也收藏了</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="store2list">
            <div class="blods secondfont store2tablist">
                <span class="active">所有</span>
                <span>裤子</span>
                <span>T恤</span>
                <span>衬衫</span>
            </div>
            <div class="store2selecs blods">
                <div class="items">
                    <span class="active">综合</span>
                    <span>价格</span>
                </div>
                <div class="items">
                    <span>人气</span>
                    <span>竞争力</span>
                    <span>性价比</span>
                    <span>最新</span>
                    <span>价格</span>
                </div>
                <div class="store2price">
                    <span class="lightgreybor"><input type="text"></span>
                    <span>至</span>
                    <span class="lightgreybor"><input type="text"></span>
                </div>

            </div>
            <div class="store2zhbox">
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>
                <div class="lightgreybor stroe2tjbox stroe2zhitem">
                    <a href="" target="_blank">
                        <div>
                            <img src="../../lib/images/11.png" alt="" class="storepic">
                        </div>
                        <div class="blods">
                            <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                            <div><span>分销数</span><span class="orange">2344</span></div>
                        </div>
                        <div class="blods">
                            穿个大熊熊的外套
                        </div>
                        <div class="stroe2sc">
                            <span class="lightgreybor orange">收藏80</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</main>
