<main class="storehome2">
    <div class="mydetailtop storehome2top">
        <div class="mycontainer">
            <div class="consultingtop">
                <div class="shoplogo">
                    <img src="../../lib/images/logo.png" alt="">
                </div>
                <div class="serachs">
                    <div class="selecttype">
                        <span class="active">商品</span>
                        <span>厂家</span>
                    </div>
                    <div class="Consultingsearchbox">
                        <div>
                            <input type="text" placeholder="根据产品标题、厂家名称进行搜索">
                        </div>
                        <div>
                            <span class="iconfont icon-sousuo"></span>
                            <span class="iconfont icon-paizhao"></span>
                        </div>
                    </div>
                    <div class="tjlist">
                        <span>童裙</span>
                        <span>秋冬童裙</span>
                        <span>哈伦裤</span>
                        <span>童T恤</span>
                        <span>羽绒裤</span>
                        <span>棉服</span>
                        <span>中长款</span>
                    </div>
                </div>
                <div class="sdcode">
                    <div>
                        <img src="../../lib/images/erweima.png" alt="">
                    </div>
                    <div>
                        <img src="../../lib/images/erweima.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tablist">
            <div class="mycontainer">
                <div class="tabs">
                    <div class="mytab firstfont">
                        <span class="active">资讯栏目</span>
                        <span>所有产品</span>
                        <span>已下架产品</span>
                    </div>
                    <div>
                        厂家动态
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mycontainer" style="background: none">
        <div class="allproductdesc">
            <div>
                <div>童淘淘欢迎你！</div>
                <div class="lightgreybor allproductsearch">
                    <span class="iconfont icon-sousuo"></span>
                    <span>
                          <input type="text" placeholder="搜索标题、货号">
                    </span>

                </div>
            </div>
            <div></div>
        </div>
        <div class="store2list">
            <div class="blods secondfont store2tablist">
                <span class="active">所有</span>
                <span>裤子</span>
                <span>T恤</span>
                <span>衬衫</span>
            </div>
            <div class="store2selecs blods">
                <div class="items">
                    <span class="active">综合</span>
                    <span>价格</span>
                </div>
                <div class="items">
                    <span>人气</span>
                    <span>竞争力</span>
                    <span>性价比</span>
                    <span>最新</span>
                    <span>价格</span>
                </div>
                <div class="store2price">
                    <span class="lightgreybor"><input type="text"></span>
                    <span>至</span>
                    <span class="lightgreybor"><input type="text"></span>
                </div>

            </div>
            <div class="allproductbox">
                <div class="allproductrz">
                    <div class="lightgreybor left">
                        <div class="Sorrels threefont companyname">
                            童淘淘认证商家
                        </div>
                        <div class="rzmess firstfont companymess">
                            <div class="red blods secondfont myshopname">店名</div>
                            <div class="companyrz">
                                <div>
                                    <div class="lightgrey">经营模式：</div>
                                    <div>经销代理</div>
                                </div>
                                <div>
                                    <div class="lightgrey">供应等级：</div>
                                    <div>Lv12</div>
                                </div>
                                <div>
                                    <div class="lightgrey">实名认证：</div>
                                    <div>
                                        <span>罗*英</span>
                                        <span><img src="../../lib/images/main/product/id_card.png" alt=""></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="lightgrey">营业执照认证：</div>
                                    <div>
                                        <span><img src="../../lib/images/shopdetail/license.jpg" alt=""></span>
                                    </div>
                                </div>
                            </div>
                            <div class="lightgreybor focuson">关注商家</div>
                        </div>

                        <div class="rzmess">
                            <div class="blods secondfont">联系方式</div>
                            <div class="companyrz">
                                <div>
                                    <div class="lightgrey">电话：</div>
                                    <div></div>
                                </div>
                                <div>
                                    <div class="lightgrey">货址：</div>
                                    <div></div>
                                </div>
                                <div>
                                    <div class="lightgrey">厂址：</div>
                                    <div></div>
                                </div>
                                <div>
                                    <div class="lightgrey">QQ：</div>
                                    <div></div>
                                </div>
                                <div>
                                    <div class="lightgrey">微信：</div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="scan">
                                <div>
                                    <img src="../../lib/images/shopdetail/code.jpg" alt="">
                                </div>
                                <div class="lightgrey">扫码进入童淘淘店铺</div>
                            </div>
                        </div>
                        <div class="pdleft darkgrey">
                            <div class="lightgrey rzduibox">
                                <div class="blods firstfont ">
                                    已通过的认证
                                </div>
                                <div>
                                    <div>
                                        <span class="duigou orange"></span>金牌商家<span></span>
                                    </div>
                                    <div>
                                        <span class="duigou orange"></span>金牌商家<span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="lightgrey rzduibox">
                                <div class="blods firstfont ">
                                    发货及物流
                                </div>
                                <div >
                                    <div>
                                        <span class="duigou orange"></span><span>金牌商家</span>
                                    </div>
                                    <div>
                                        <span class="duigou orange"></span><span>金牌商家</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="lightgreybor lightgrey storegonggao">
                        <div class="threefont blods tittle">商家动态公告</div>
                        <div class="firstfont mess">公告信息公告信息公告信息公告信息公告信息公告信息公告信息</div>
                        <div>2019-11-03 11:06:20</div>
                    </div>
                </div>
                <div class="store2zhbox">

                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>
                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>
                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>
                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>
                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>
                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>
                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>
                    <div class="lightgreybor stroe2tjbox stroe2zhitem">
                        <a href="" target="_blank">
                            <div>
                                <img src="../../lib/images/11.png" alt="" class="storepic">
                            </div>
                            <div class="blods">
                                <div><span>￥</span><span class="orange secondfont productprice2">80</span></div>
                                <div><span>分销数</span><span class="orange">2344</span></div>
                            </div>
                            <div class="blods">
                                穿个大熊熊的外套
                            </div>
                            <div class="stroe2sc">
                                <span class="lightgreybor orange">收藏80</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>
