.storehome2 {
    font-size: 12px;
    background: #f6f5f5;
}

.mydetailtop {
    background: #fff;
    border-bottom: 1px solid #f43e31;

}

.allproductdesc{
    height: 53px;
    border-bottom: 1px solid #e8e8e8;
}
.allproductdesc>div:nth-child(1){
    height: 36px;
    background: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.allproductsearch{
    width: 125px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding-left: 10px;
}
.allproductsearch>.icon-sousuo{
    font-size: 16px;
}
.allproductsearch>span>input{
    display: block;
    border: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
}
.tablist {
    background: #f6f5f5;
}

.consultingtop {
    width: 100%;
    height: 122px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consultingtop > div:nth-child(1) {
    display: inline-block;
    height: auto;
}

.cursor {
    cursor: pointer;
}

.tabs {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #f6f5f5;

}

.tabs > div:nth-child(1) {
    display: flex;
    height: 100%;
    align-items: center;
}

.tabs > div > span {
    display: flex;
    height: 100%;
    padding: 0 22px;
    align-items: center;
}

.mytab > .active {
    background: #f43e31; /* 红色背景 */
    color: #fff;
}

.zxbox .consultingbox {
    width: 830px;
    min-height: 498px;
    padding: 0;
}

.zxbox .ghlistbox {
    width: 100%;
    background: #fff;
    height: auto;
    min-height: 504px;
}

.zxbox .ghlistbox > .gh_list_tit {
    line-height: 38px;
    height: 38px;
    border: none;
    padding: 0;
}

.zxbox .ghlistbox > .gh_list_tit > div {
    width: 388px;
    padding: 0px 10px;
    border-bottom: 1px solid #eeeeee;
}

.fr {
    float: right;
}

.m_r5 {
    margin-right: 5px;
}

.m_t10 {
    margin-top: 10px;
}

.f15 {
    font-size: 15px;
}

.fwb {
    font-weight: bold;
}

.fm1 {
    font-family: Microsoft YaHei;
}

.new_box_gh {
    padding: 16px;

}

.gh_info_list li {
    line-height: 25px;
    background-position: -6px -44px;
    padding-left: 18px;
    overflow: hidden;
    height: 25px;
    background-image: url('../../lib/images/pageBg.png');
    background-repeat: no-repeat;
}

.fr {
    float: right;
}

.zxbox .gh_info_list li a {
    width: 600px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    font-weight: bold;
}

.gh_info_list li a:hover {
    color: #fd6619;
    text-decoration: underline;
}

.consultingtop .serachs {
    width: 562px;

}

.Consultingsearchbox {
    position: relative;
    height: 40px;
    display: flex;
    border: 2px solid #f24e48;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 7px;
}

.Consultingsearchbox > div:nth-child(1) {
    width: 454px;
}

.Consultingsearchbox > div:nth-child(1) > input {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 16px;
    border: none;
}

.Consultingsearchbox > div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    width: 120px;
    align-items: center;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #f24e48 0%, #ff6349 100%);
}

.Consultingsearchbox > div:nth-child(2) > span {
    display: inline-block;
    height: 20px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}

.Consultingsearchbox > div:nth-child(2) > span:nth-child(1) {
    border-right: 1px solid #fff;
}

.selecttype {
    padding: 0 18px;
    display: flex;

}

.selecttype > span {
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666;
    border-radius: 50px;
    margin-bottom: 2px;
}

.selecttype > .active {
    background-image: linear-gradient(90deg, #f24e48 0%, #ff6349 100%);
    color: #fff;
}

.tjlist {
    display: flex;
    padding: 0 18px;
    color: #666;
}

.tjlist > span {
    margin-right: 25px;
}

.sdcode {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.sdcode > div {
    height: 80px;
    width: 80px;
    box-shadow: 2px 4px 10px #fdd9d8;
}

.selecttb {
    display: flex;
    margin-bottom: 18px;
}

.selecttb > span {
    display: block;
    color: #666;
    font-weight: bold;
    margin-right: 24px;
}

.selecttb > .active {
    color: #F43E31;
}

.storehome2gg {
    background: #fff;
    padding: 0 3px;

}

.storehome2gg > div:nth-child(1) {
    height: 108px;
    border-bottom: 1px solid #efefef;
    text-align: center;
    padding-top: 30px;
}

.storehome2gg > div:nth-child(1) > div:nth-child(1) {
    display: inline-flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 10px;
}

.storehome2gg > div:nth-child(1) > div:nth-child(1) > span {
    margin-right: 10px;
}

.storehome2gg > div:nth-child(1) > div:nth-child(1) > span:last-child {
    margin-right: 0;
}

.store2tj {
    display: flex;
    padding: 18px 10px;
    justify-content: space-between;
    height: 402px;
    border-bottom: 1px solid #efefef;
}

.store2tittle {
    display: inline-block;
    padding: 0 7px;
    line-height: 32px;
    border-bottom: 2px solid #f43e31;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
}

.store2tj > div:nth-child(1) {
    width: 906px;

}

.store2tj > div:nth-child(2) {
    width: 245px;
}

.stroe2cctj {
    display: flex;
    flex-wrap: wrap;
    color: #000;
}

.stroe2cctj > div {
    width: 220px;
    height: 292px;
    margin-right: 8px;
}
.stroe2cctj > div:nth-child(4n){
    margin-right: 0;
}
.stroe2tjbox>a{
    display: block;
    width: 100%;
    height: 100%;
}
.stroe2tjbox>a > div:nth-child(1) {
    width: 100%;
    height: 220px;
}

.stroe2tjbox>a   > div:nth-child(1) > img {
    display: block;
    width: 100%;
    height: 100%;
}

.stroe2tjbox>a  > div:nth-child(2) {
    height: 38px;
    padding: 0 13px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}
.stroe2tjbox>a   > div:nth-child(2)>div{
    display: inline-block;
}
.stroe2tjbox>a   > div:nth-child(3) {
    color: #279ae9;
    padding: 0 13px;
}
.store2zh{
    height: 292px;
    padding: 10px;

    overflow: hidden;
    /*overflow: auto;*/
}
.store2zh>a{
    height: 68px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #666;
}
.store2zh>a>div:nth-child(1){
    width: 68px;
    height: 68px;
}
.store2zh>a>div:nth-child(1)>img{
    display: block;
    width: 100%;
    height: 100%;
}
.store2zh>a>div:nth-child(2){
    width: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.store2zh>a>div:nth-child(2)>span{
    display: block;
    line-height: 18px;
    word-break: break-all;
}
.store2tablist{
    display: flex;
    border-bottom:1px solid #f43e31;
    background: #fff;
    color: #000;
}
.store2tablist>span{
    display: block;
    padding: 0 20px;
    line-height: 37px;
}
.store2tablist>.active{
    background: #f43e31; /* 红色背景 */
    color: #fff;
}
.store2selecs{
    display: flex;
    height: 36px;
    align-items: center;
    background: #eeeeee;
}
.store2selecs>div{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.store2selecs>div>span{
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}
.store2selecs>.items>span{
    color: #000;
}
.store2selecs>.items>.active{
    color:#f43e31;
}
.store2selecs>.items>span{
    border-right: 1px solid #d9d9d9;
}
.store2selecs>.items>span:last-child{
    border-right: none;
}
.store2price{
    width: 118px;
    display: flex;
    justify-content: space-between;
}
.store2price>span{
    line-height: 21px;
    height: 21px;
    display: block;
}
.store2price>.lightgreybor{
    width: 46px;
    background: #fff;
    text-align: center;
}
.store2price>.lightgreybor>input{
    display: block;
    outline: none;
    border: 0;
    width: 100%;
    height: 100%;
}
.store2zhbox{
    padding: 24px 18px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding-bottom: 40px;
}
.stroe2zhitem{
    height: 308px;
    width: 220px;
}
.store2zhbox>.stroe2zhitem{
    margin-right: 16px;
    margin-bottom: 14px;
}
.store2zhbox>.stroe2zhitem:nth-child(5n){
    margin-right: 0;
}
.stroe2zhitem>a>.stroe2sc{
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
}
.stroe2zhitem>a>.stroe2sc>span{
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
}

.allproductbox{
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    background: #fff;
    padding-bottom: 60px;

}

.allproductbox>.allproductrz{

}
.allproductbox>.store2zhbox{
    width: 910px;
    padding: 0;
}
.allproductbox .store2zhbox>.stroe2zhitem{
    margin-right: 10px;
}
.allproductbox .store2zhbox>.stroe2zhitem:nth-child(5n){
    margin-right: 10px;
}
.allproductbox .store2zhbox>.stroe2zhitem:nth-child(4n){
    margin-right: 0;
}

.allproductrz{
    width: 216px;
    margin-right: 3px;
}

.rzmess {
    padding: 0 14px;
    padding-top: 16px;
}

.companymess {
    height: 246px;
    border-bottom: 1px solid #e8e8e8;
}

.companyname {
    height: 55px;
    line-height: 55px;
    text-align: center;
}

.myshopname {
    text-align: center;
}

.companyrz {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
}

.companyrz > div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 14px;
}

.companyrz > div > div {
    display: flex;
    align-items: center;
}

.companyrz > div > div > span {
    margin-right: 4px;
    display: block;
}

.companyrz > div > div > span > image {
    display: block;

}

.focuson {
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
    margin-top: 25px;
}

.scan {
    margin-top: 24px;
    text-align: center;
}

.scan > div:nth-child(1) {
    width: 85px;
    height: 85px;
    border-radius: 8px;
    overflow: hidden;
    background: #e33a33;
    padding: 6px;
    margin: 0 auto;
}

.scan > div:nth-child(1) > img {
    display: block;
    width: 100%;
    height: 100%;
}

.scan > div:nth-child(2) {
    margin-top: 17px;
    margin-bottom: 26px;
}
.pdleft{
    padding: 0 4px;
    border-top:1px solid #e8e8e8;
}
.rzduibox{
    width: 100%;
    padding: 14px 2px;
    height: 73px;
    border-bottom:1px solid #e8e8e8;
}
.rzduibox>div{
    display: flex;
}
.rzduibox>div:nth-child(2){
    margin-top: 12px;
}
.rzduibox>div:nth-child(2) span{
    display: block;
}
.rzduibox .duigou {
    width: 12px;
    height: 12px;
    background-image: url('../../lib/images/main/ico_arrow.png');
    margin-right: 4px;
}


.rzduibox>div:nth-child(2)>div{
    margin-right: 8px;
    display: flex;
    align-items: center;
    height: 18px;
}
.rzduibox:last-child{
    border: none;
}


.storegonggao{
    width: 100%;
    min-height: 194px;
    padding: 16px 14px;
    margin-top: 40px;
}
.storegonggao>.tittle{
    color: #000;
}
.storegonggao>.mess{
    margin-bottom: 20px;
    margin-top: 10px;
}
.storegonggao>.time{

}
