<main>
    <nav>
      <ul class="left_nav">
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <div>
          <p><span></span>网站公告栏 <span></span></p>
          <img src="../../lib/images/1.png" alt="">
        </div>
      </ul>
      <div class="right_nav">
          <ul>
            <li>首页</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
          </ul>
        <div class="mid">
          <img src="../../lib/images/2.png" alt="" class="bgimg">
          <section class="fourP">
            <div><img src="../../lib/images/1.png" alt=""></div>
            <div style="background: #fff6f5">
              <section class="avat"><img src="../../lib/images/1.png" alt=""></section>
              <span>hi,欢迎来到童淘淘~~</span>
              <p>我是用户</p>
              <p>申请入驻</p>
              <p>商家登录</p>
            </div>
            <div><img src="../../lib/images/1.png" alt=""></div>
            <div style="background: #fff">
              <ul class="news">
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="bot">
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
          <a href=""><img src="../../lib/images/1.png" alt=""> <p>女王家的衣服就是炫酷吊炸天</p></a>
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
        </div>
      </div>
    </nav>
    <div class="two_part">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
    <!--品牌大咖-->
    <div class="unit brand">
      <p class="part_title">品牌大咖</p>
      <section class="son_part">
        <a href="" class="brand_1"><img src="../../lib/images/11.png" alt=""></a>
        <a href="" class="brand_2"><img src="../../lib/images/20.png" alt=""></a>
        <ul class="elements">
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/5.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/5.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/5.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/4.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/5.png" alt=""></a></li>
        </ul>
      </section>
    </div>
    <div class="two_part">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
    <!--人气商家-->
    <div class="unit hot_brand">
      <p class="part_title">人气商家</p>
      <section class="son_part">
        <ul class="elements_1">
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
        </ul>
        <ul class="elements_2">
          <li><a href="">
            <img src="../../lib/images/11.png" alt="">
            <div class="describe">
              <h1><span></span><p>网站公告栏</p><span></span></h1>
              <h5>2019新版毛绒外套</h5>
              <h4>查看商家</h4>
            </div>
          </a></li>
          <li><a href=""><img src="../../lib/images/9.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/9.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/9.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/9.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/9.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/9.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/9.png" alt=""></a></li>
        </ul>
      </section>
    </div>
    <div class="two_part">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
    <!--精选厂家-->
    <div class="unit handpick">
      <p class="part_title">精选厂家</p>
      <section class="son_part">
        <ul class="elements_3">
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><h2>梦妮童装</h2><h3>2019新装上线</h3><h4>国庆节把秋天穿在身上好舒服</h4><img src="../../lib/images/10.png" alt=""></a></li>
        </ul>
      </section>
    </div>
    <div class="two_part">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
    <!--星级店铺-->
    <div class="unit starStores">
      <p class="part_title">星级店铺</p>
      <section class="son_part">
        <ul class="elements_4">
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
        </ul>
        <div class="bg_img">
          <a href=""><img src="../../lib/images/14.png" alt=""></a>
        </div>
        <ul class="elements_5">
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
          <li><a href=""><img src="../../lib/images/10.png" alt=""></a></li>
        </ul>
      </section>
    </div>
    <div class="two_part">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
    <!--火热档口1-->
    <div class="unit hotPart1">
      <p class="part_title">火热档口</p>
      <section class="son_part">
        <ul class="elements_6">
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
        </ul>
      </section>
    </div>
    <div class="two_part" style="margin-top: 5px">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
    <!--火热档口2-->
    <div class="unit hotPart2">
      <p class="part_title">火热档口</p>
      <section class="son_part">
        <ul class="elements_7">
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt="" class="spe_single">
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
          <li><a href=""><img src="../../lib/images/17.png" alt=""><h3>秋冬新品</h3>
            <section class="singleP">
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
              <div><img src="../../lib/images/18.png" alt=""><p>￥10</p></div>
            </section></a></li>
        </ul>
      </section>
    </div>
    <div class="two_part" style="margin-top: 5px">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
    <!--时尚大牌-->
    <div class="unit hotPart1">
      <p class="part_title">时尚大牌</p>
      <section class="son_part">
        <ul class="elements_6">
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
          <li><a href=""><img src="../../lib/images/16.png" alt=""><section class="describe"><h3>奥特曼店铺</h3><p>2019新款毛绒外套</p></section></a></li>
        </ul>
      </section>
    </div>
    <div class="two_part" style="margin-top: 5px">
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
      <a href=""><img src="../../lib/images/8.png" alt=""></a>
    </div>
</main>