<main>
  <div class="mycontainer">
    <nav>
      <ul class="left_nav">
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <li>童装</li>
        <div>
          <p><span></span>网站公告栏 <span></span></p>
          <img src="../../lib/images/1.png" alt="">
        </div>
      </ul>
      <div class="right_nav">
          <ul>
            <li>首页</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
            <li>厂家直供</li>
          </ul>
        <div class="mid">
          <img src="../../lib/images/2.png" alt="" class="bgimg">
          <section class="fourP">
            <div><img src="../../lib/images/1.png" alt=""></div>
            <div style="background: #fff6f5">
              <section class="avat"><img src="../../lib/images/1.png" alt=""></section>
              <span>hi,欢迎来到童淘淘~~</span>
              <p>我是用户</p>
              <p>申请入驻</p>
              <p>商家登录</p>
            </div>
            <div><img src="../../lib/images/1.png" alt=""></div>
            <div style="background: #fff">
              <ul class="news">
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
                <li><a href="">感恩有你，热烈庆祝找家纺成</a> </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="bot">
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
          <a href=""><img src="../../lib/images/1.png" alt=""> <p>女王家的衣服就是炫酷吊炸天</p></a>
          <a href=""><img src="../../lib/images/1.png" alt=""><p>女王家的衣服就是炫酷吊炸天</p> </a>
        </div>
      </div>
    </nav>
  </div>
</main>