
main {
	font-size: 0.75rem;background: #f6f5f5;height: auto;
}
nav{
	display: flex;
}
div.mycontainer{
	background: #f6f5f5;
}
.left_nav{
	background: #f54338;width: 162px;height: auto;padding-right: 14px;
}
.left_nav li{
	height: 40px;font-size: 14px;color:rgba(255,255,255,0.5);line-height: 40px;text-align: center;border-bottom: 1px solid rgba(255,255,255,0.5);box-sizing: border-box;
}
ul.left_nav div p span{
	width: 20px;height: 3px;background: #fff;    display: inline-block;
}
ul.left_nav div p {
	font-size: 14px;color:#fff;width: 140px;margin:15px 0 15px 18px;text-align: center;
	display: flex;
	justify-content: space-between;
}
ul.left_nav div img{
	width: 150px;height: 180px;margin-left: 13px;margin-bottom: 15px;
}
.right_nav > ul{
	display: flex;justify-content: space-between;width: 924px;
	height: 40px;
	padding-left: 30px;
}
.right_nav > ul li{
	line-height: 40px;color:#000;font-size: 14px;
}
.mid{
	display: flex;height: 460px;
}
.fourP{
	display: flex;justify-content: space-between;flex-wrap: wrap;
}
.fourP div{
	width: 191px;height: 230px;
}
.fourP div  img{
	width: 100%;height: 100%;
}
.fourP div p{
	width: 85px;
	height: 25px;line-height:25px;text-align: center;font-size: 14px;color:rgba(255,255,255,0.5);margin:15px auto;border-radius: 15px;
}
.fourP div span{
	width: 100%;text-align: center;font-size: 14px;color:rgba(0,0,0,0.5);margin:15px auto;display: block;
}
.fourP div p:nth-of-type(1){
	background: #f43e31;
}
.fourP div p:nth-of-type(2){
	background: #ff753f;
}
.fourP div p:nth-of-type(3){
	border:1px solid #f46e69;color:#f46e69;
}
.avat{
	width: 60px;height: 60px;border-radius: 50%;
	overflow: hidden;margin:15px auto 0;
}
.news{
	color:#ff753f;padding-left:30px;
}
ul.news li{
	list-style-type:disc;color:#ff753f;line-height: 38px;font-size: 14px;
}
ul.news{
	width: 100%;
}
.news li::after{
	color:#ff753f;
}
.news li a{
	color:#000;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width: 167px;display: block;
}
.bot{
	width: 100%;display: flex;justify-content: space-between;height: 230px;
}
.bot a{
	width: 189px;background: #fff;
}
.bot img{
	width: 189px;height: 189px;
}
.bot p{
	font-size: 12px;color:#000;line-height: 41px;
	text-align: center;
}
.two_part{
	width: 100%;display: flex;justify-content: space-between;
	height: 100px;margin-top:15px;
}
.two_part a{
	width: calc(50% - 2.5px);height: 100%;
}
.unit{

}
.part_title{
	width: 100%;font-size: 22px;color:#333333;height: 76px;line-height: 76px;
}
.brand .son_part{
	width: 100%;display: flex;height: 430px;
}
.son_part a{
	display: inline-block;
}
.son_part a img{
	width: 100%;height: 100%;
}
.brand_1{
	width: 245px;height: 100%;
}
.brand_2{
	width: 323px;height: 100%;
}
.elements{
	width: calc(100% - 568px);height: 100%;
}
.son_part ul{
	display: flex;justify-content: space-between;flex-wrap: wrap;
}
.elements li{
	width: 150.5px;height: 100px;margin-bottom: 10px;
}
.son_part li a,.son_part li a img{
	width: 100%;height: 100%;
}
.elements li:nth-of-type(13),.elements li:nth-of-type(14),.elements li:nth-of-type(15),.elements li:nth-of-type(16){
	margin-bottom: 0;
}
.elements_1 li{
	width: 20%;height: 300px;
}
.elements_2 li {
	width: 296px;
	height: 358px;
	margin-top: 2px;
}
.elements_2 li a{
	position: relative;
}
.describe{
   width: 100%;height:88px;position: absolute;bottom: 0;left:0;font-size: 12px;
}
.describe h1 p{
	float: left;
}

.describe h1{
	margin-bottom: 33px;    font-size: 16px;
}
.describe h1 span{
	width: 20px;height: 2px;background: #fff; float: left;
}
h5{
	margin-bottom: 33px;
}
.handpick .elements_3 li{
	width: 288px;height: 340px;
}
.handpick .elements_3 li a img{
	width: 236px;height: 236px;
}
.handpick h2{
	color:#f24e48;    font-size: 14px;
	margin-bottom: 20px;margin-top: 20px;
}
.handpick h3{
	font-size: 13px;
	margin-bottom: 18px;
	color: #333;
}
.handpick h4{
	color: #b0b0b0;
	font-size: 12px;
	margin-bottom: 20px;
}
.handpick li{
	border:1px solid #e5e5e5;margin-bottom: 15px;
}
.handpick a{
	text-align: center;
}
.starStores ul{
	display: block;width: 116px;
}
.starStores ul li{
	width: 116px;height: 69px;border-radius: 5px;overflow: hidden;margin-bottom: 10px;
}
div.bg_img{
	width: 922px;height: 464px;
}
div.bg_img a,div.bg_img a img{
	width: 100%;height: 100%;
}
.starStores .son_part{
	width: 100%;display: flex;justify-content: space-between;
}