<header>
  <img src="../../lib/images/top.png" alt="">
  <div class="black_box">
     <section class="inside">
       <p>您好，欢迎来到童淘淘 <span>登录</span> <span>注册</span> </p>
       <ul>
         <li>免费代发</li>
         <li>功能服务</li>
         <li>我是厂家</li>
         <li>用户中心</li>
         <li>运费测算</li>
         <li>在线客服</li>
       </ul>
       <p>手机童淘淘</p>
     </section>
  </div>
  <div class="top_bottom">
    <section class="box">
      <img src="../../lib/images/logo.png" alt="" class="logo">
      <section class="search_box">
        <div class="topnav">
          <span>商品</span>
          <span>厂家</span>
        </div>
        <div class="middlebox">
          <input type="text" placeholder="根据产品标题，厂家名字进行命名">
        </div>
        <ul>
          <li>童群</li>
          <li>秋装童群</li>
          <li>哈伦裤</li>
          <li>T恤</li>
          <li>羽绒裤</li>
          <li>棉服</li>
          <li>中长款</li>
        </ul>
      </section>
      <section class="ma_box">
        <img src="../../lib/images/erweima.png" alt="">
        <img src="../../lib/images/erweima.png" alt="">
      </section>

    </section>
  </div>
</header>