<div style="background: #f6f5f5;width: 100%;" class="CW">
    <header>
        <div class="maintop">
            <span class="normalfont">童装服务</span>
            <ul>
                <li class="activeli"><a href="">首页</a></li>
                <li><a href="">童模资源</a></li>
                <li><a href="">摄影基地</a></li>
                <li><a href="">电商培训</a></li>
                <li><a href="">直播网红</a></li>
                <li><a href="">童装质检</a></li>
            </ul>
            <p class="normalfont">热线：400-115-0886</p>
        </div>
    </header>
    <a href="" class="bgimg"><img src="../../lib/images/childrenWear/top.png" alt=""></a>
    <section class="modlue1">
        <div class="modleTitle">
            <span>TONGMOTUIJIAN</span>
            <p>童模推荐</p>

        </div>
    </section>
</div>