<main class="Consultingprogram">
    <div class="mytop">
        <div class="mycontainer">
            <div class="consultingtop">
                <div class="shoplogo">
                    <img src="../../lib/images/logo.png" alt="">
                </div>
                <div class="serachs">
                    <div class="selecttype">
                        <span class="active">商品</span>
                        <span>厂家</span>
                    </div>
                    <div class="programsearchbox">
                        <div>
                            <input type="text" placeholder="根据产品标题、厂家名称进行搜索">
                        </div>
                        <div>
                            <span class="iconfont icon-sousuo"></span>
                            <span class="iconfont icon-paizhao"></span>
                        </div>
                    </div>
                    <div class="tjlist">
                        <span>童裙</span>
                        <span>秋冬童裙</span>
                        <span>哈伦裤</span>
                        <span>童T恤</span>
                        <span>羽绒裤</span>
                        <span>棉服</span>
                        <span>中长款</span>
                    </div>
                </div>
                <div class="sdcode">
                    <div>
                        <img src="../../lib/images/erweima.png" alt="">
                    </div>
                    <div>
                        <img src="../../lib/images/erweima.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tablist">
            <div class="mycontainer">
                <div class="tabs">
                    <div class="mytab firstfont">
                        <span class="active">资讯栏目</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="mycontainer">
        <div class="consultingbox">
            <div class="ghlistbox darkgrey ">
                <div class="gh_list_tit blods">
                    <a href="" target="_blank" class="fr">全部 &gt;&gt;&gt;</a>
                    <span class="f15 fwb m_r5">|</span>
                    <span class="fwb f15 fm1"><a href="" target="_blank">平台公告</a></span>
                </div>
                <div class="new_box_gh">
                    <div class="gh_info_list m_t10">
                        <ul>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">拼机遇·抖精彩-苏宁拼购招商会&amp;抖音运营公开课圆满落</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购朱永国：苏宁拼购及当下最新的招商政策</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购李先知：苏宁拼购双十一营销玩法</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎陶方俊：【引流电商】“流量蓝海”品效结合打造电商爆款</a>
                            </li>
                            <li>
                                <span class=" fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎贺晨阳：抖音短视频电商行业内容运营方法论</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[10月23日]</span>
                                <a href="" target="_blank">91家纺网志愿者贴心服务，助力五山森林音乐节！</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ghlistbox darkgrey ">
                <div class="gh_list_tit blods">
                    <a href="" target="_blank" class="fr">全部 &gt;&gt;&gt;</a>
                    <span class="f15 fwb m_r5">|</span>
                    <span class="fwb f15 fm1"><a href="" target="_blank">平台公告</a></span>
                </div>
                <div class="new_box_gh">
                    <div class="gh_info_list m_t10">
                        <ul>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">拼机遇·抖精彩-苏宁拼购招商会&amp;抖音运营公开课圆满落</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购朱永国：苏宁拼购及当下最新的招商政策</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购李先知：苏宁拼购双十一营销玩法</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎陶方俊：【引流电商】“流量蓝海”品效结合打造电商爆款</a>
                            </li>
                            <li>
                                <span class=" fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎贺晨阳：抖音短视频电商行业内容运营方法论</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[10月23日]</span>
                                <a href="" target="_blank">91家纺网志愿者贴心服务，助力五山森林音乐节！</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ghlistbox darkgrey ">
                <div class="gh_list_tit blods">
                    <a href="" target="_blank" class="fr">全部 &gt;&gt;&gt;</a>
                    <span class="f15 fwb m_r5">|</span>
                    <span class="fwb f15 fm1"><a href="" target="_blank">平台公告</a></span>
                </div>
                <div class="new_box_gh">
                    <div class="gh_info_list m_t10">
                        <ul>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">拼机遇·抖精彩-苏宁拼购招商会&amp;抖音运营公开课圆满落</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购朱永国：苏宁拼购及当下最新的招商政策</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购李先知：苏宁拼购双十一营销玩法</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎陶方俊：【引流电商】“流量蓝海”品效结合打造电商爆款</a>
                            </li>
                            <li>
                                <span class=" fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎贺晨阳：抖音短视频电商行业内容运营方法论</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[10月23日]</span>
                                <a href="" target="_blank">91家纺网志愿者贴心服务，助力五山森林音乐节！</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ghlistbox darkgrey ">
                <div class="gh_list_tit blods">
                    <a href="" target="_blank" class="fr">全部 &gt;&gt;&gt;</a>
                    <span class="f15 fwb m_r5">|</span>
                    <span class="fwb f15 fm1"><a href="" target="_blank">平台公告</a></span>
                </div>
                <div class="new_box_gh">
                    <div class="gh_info_list m_t10">
                        <ul>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">拼机遇·抖精彩-苏宁拼购招商会&amp;抖音运营公开课圆满落</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购朱永国：苏宁拼购及当下最新的招商政策</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购李先知：苏宁拼购双十一营销玩法</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎陶方俊：【引流电商】“流量蓝海”品效结合打造电商爆款</a>
                            </li>
                            <li>
                                <span class=" fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎贺晨阳：抖音短视频电商行业内容运营方法论</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[10月23日]</span>
                                <a href="" target="_blank">91家纺网志愿者贴心服务，助力五山森林音乐节！</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ghlistbox darkgrey ">
                <div class="gh_list_tit blods">
                    <a href="" target="_blank" class="fr">全部 &gt;&gt;&gt;</a>
                    <span class="f15 fwb m_r5">|</span>
                    <span class="fwb f15 fm1"><a href="" target="_blank">平台公告</a></span>
                </div>
                <div class="new_box_gh">
                    <div class="gh_info_list m_t10">
                        <ul>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">拼机遇·抖精彩-苏宁拼购招商会&amp;抖音运营公开课圆满落</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购朱永国：苏宁拼购及当下最新的招商政策</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购李先知：苏宁拼购双十一营销玩法</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎陶方俊：【引流电商】“流量蓝海”品效结合打造电商爆款</a>
                            </li>
                            <li>
                                <span class=" fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎贺晨阳：抖音短视频电商行业内容运营方法论</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[10月23日]</span>
                                <a href="" target="_blank">91家纺网志愿者贴心服务，助力五山森林音乐节！</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ghlistbox darkgrey ">
                <div class="gh_list_tit blods">
                    <a href="" target="_blank" class="fr">全部 &gt;&gt;&gt;</a>
                    <span class="f15 fwb m_r5">|</span>
                    <span class="fwb f15 fm1"><a href="" target="_blank">平台公告</a></span>
                </div>
                <div class="new_box_gh">
                    <div class="gh_info_list m_t10">
                        <ul>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">拼机遇·抖精彩-苏宁拼购招商会&amp;抖音运营公开课圆满落</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购朱永国：苏宁拼购及当下最新的招商政策</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">苏宁拼购李先知：苏宁拼购双十一营销玩法</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎陶方俊：【引流电商】“流量蓝海”品效结合打造电商爆款</a>
                            </li>
                            <li>
                                <span class=" fr lightgrey">[11月01日]</span>
                                <a href="" target="_blank">巨量引擎贺晨阳：抖音短视频电商行业内容运营方法论</a>
                            </li>
                            <li>
                                <span class="fr lightgrey">[10月23日]</span>
                                <a href="" target="_blank">91家纺网志愿者贴心服务，助力五山森林音乐节！</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>